venv/
.venv/
env/
__pycache__/
*.ipynb_checkpoints/
*.py[cod]
*$py.class

*.npz
dataset/voraus-ad-dataset-100hz.parquet
*.zip
*.pth
*.parquet
data 
*.png
data/processed/*
data/raw/*

*.pkl
!scaler.pkl

.DS_Store
Thumbs.db
desktop.ini

.vscode/
.history/
*.log

data/*
!data/processed/.gitkeep

clean_env/